.main{
    position: relative;
    top: 25%;
    padding: 0 10px 0 10px;
  }
  .header{
    position: relative;
    top: 15%;
    text-align: center;
  }
  .body{
    // --background: url('../../assets/back-img.png') 0 0/100% 100% no-repeat;
    color: rgb(73, 124, 218);
  }