<ion-content [fullscreen]="true">
  <span class="header" [routerLink]="['register']">Skip</span>
  <ion-slides pager="true" [options]="slideOpts" class="body">
    
    <ion-slide>
    <ion-card class="slide-item">
      <p>...</p>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="slide-item1">
        <p>...</p>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="slide-item2">
        <p>...</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>